/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: white;
}

/* Cabeçalho */
h1 {
    background-color: #000;
    color: yellow;
    padding: 20px;
    font-size: 2em;
}

/* Área de Jogo */
#gameArea {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Canvas do jogo */
#gameCanvas {
    border: 2px solid #000;
    background-color: #111;
}
